.header__logo {
    max-width: 142px;
    height: 33px;
    margin-top: 45px;
    margin-bottom: 41px;
}

@media screen and (max-width: 500px) {
    .header__logo {
        max-width: 103px;
        height: 24px;
        margin-top: 26px;
        margin-bottom: 31px;
    }
}