.popup__card-container {
    height: 100%;
    position: relative;
    margin-top: 190px;
}

@media screen and (max-width: 500px) {
    .popup__card-container {
        max-width: 100%;
        margin-top: 136px;
        padding: 76px 40px;
    }
}