.profile__avatar-container {
    max-height: 120px;
    max-width: 120px;
    margin-right: 30px;
}

.profile__avatar-container:hover {
    background-image: url("../../../images/pensil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 47px;
    cursor: pointer;
}
