.header {
    max-width: 880px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin-bottom: 36px;
}
@media screen and (max-width: 500px) {
    .header {
        max-width: 300px;
        margin: auto;
    }
}